*{
    padding: 0;
}

body{
    background-color: beige;
    font-family: "Minecraftia";
}

@font-face{
    font-family: "Minecraftia";
    src: url("Minecraftia-Regular.ttf")
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-item{
    display: flex;
    flex-direction: column;
}

.game-canvas{
    background-color: white;
    border: 2px black solid
}