*{
    padding: 0;
}

body{
    background-color: beige;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-item{
    display: flex;
    flex-direction: column;
}

#game_canvas{
    background-color: white;
    border: 2px black solid
}