*{
    margin: 0;
}

.fundo{
    background-image: radial-gradient(circle,rgb(116, 36, 36),rgb(67, 6, 6), black);
}

@font-face {
    font-family: "computer";
    src: url("./fontes/Minecraftia-Regular.ttf");
}

.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "computer";
    border-bottom: solid black 3px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(53, 6, 4));
}

.b1{
    display: inline-block;padding: 15px 30px;
    font-size: 18px;font-weight: bold;
    color: rgb(153, 2, 2); text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(153, 3, 3);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(197, 1, 1), 0 0 6px rgb(151, 0, 0), 0 0 15px rgb(112, 0, 0);
    
}

.b2{
    display: inline-block;padding: 15px 30px;
    font-size: 18px;font-weight: bold;
    color: rgb(153, 2, 2); text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(153, 3, 3);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(197, 1, 1), 0 0 6px rgb(151, 0, 0), 0 0 15px rgb(112, 0, 0);
}

.b3{
    display: inline-block;padding: 15px 30px;
    font-size: 18px;font-weight: bold;
    color: rgb(153, 2, 2); text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(153, 3, 3);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(197, 1, 1), 0 0 6px rgb(151, 0, 0), 0 0 15px rgb(112, 0, 0);
    
}

.b4{
    display: inline-block;padding: 15px 30px;
    font-size: 18px;font-weight: bold;
    color: rgb(153, 2, 2); text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(153, 3, 3);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(197, 1, 1), 0 0 6px rgb(151, 0, 0), 0 0 15px rgb(112, 0, 0);
    
}

:hover.b1{
    transition: all 0.4s ease;
    transform: scale(1.05); 
    color: red; 
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(197, 1, 1), 0 0 20px rgb(151, 0, 0), 0 0 30px rgb(112, 0, 0);
}


:hover.b2{
    transition: all 0.4s ease;
    transform: scale(1.05); 
    color: red; 
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(197, 1, 1), 0 0 20px rgb(151, 0, 0), 0 0 30px rgb(112, 0, 0);
}

:hover.b3{
    transition: all 0.4s ease;
    transform: scale(1.05); 
    color: red; 
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(197, 1, 1), 0 0 20px rgb(151, 0, 0), 0 0 30px rgb(112, 0, 0); 
}

:hover.b4{
    transition: all 0.4s ease;
    transform: scale(1.05); 
    color: red; 
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(197, 1, 1), 0 0 20px rgb(151, 0, 0), 0 0 30px rgb(112, 0, 0);
}

.logo{
    justify-content: center;
    display: flex;
    align-items: center;
}

.play{
    justify-content: center;
    display: flex;
    align-items: center;
}





