*{
    margin: 0;
}

/* nav bar */
.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "computer";
    border-bottom: solid black 3px;
}

.fundo{
    background-image: radial-gradient(circle,rgb(116, 36, 36),rgb(67, 6, 6), black);
}

.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "computer";
    border-bottom: solid black 3px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(53, 6, 4));
}

.b1{
    display: inline-block;padding: 15px 30px;
    font-size: 18px;font-weight: bold;
    color: rgb(153, 2, 2); text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(153, 3, 3);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(197, 1, 1), 0 0 6px rgb(151, 0, 0), 0 0 15px rgb(112, 0, 0);
    
}

.b2{
    display: inline-block;padding: 15px 30px;
    font-size: 18px;font-weight: bold;
    color: rgb(153, 2, 2); text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(153, 3, 3);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(197, 1, 1), 0 0 6px rgb(151, 0, 0), 0 0 15px rgb(112, 0, 0);
}

.b3{
    display: inline-block;padding: 15px 30px;
    font-size: 18px;font-weight: bold;
    color: rgb(153, 2, 2); text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(153, 3, 3);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(197, 1, 1), 0 0 6px rgb(151, 0, 0), 0 0 15px rgb(112, 0, 0);
    
}

.b4{
    display: inline-block;padding: 15px 30px;
    font-size: 18px;font-weight: bold;
    color: rgb(153, 2, 2); text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(153, 3, 3);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(197, 1, 1), 0 0 6px rgb(151, 0, 0), 0 0 15px rgb(112, 0, 0);
    
}

:hover.b1{
    transition: all 0.4s ease;
    transform: scale(1.05); 
    color: red; 
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(197, 1, 1), 0 0 20px rgb(151, 0, 0), 0 0 30px rgb(112, 0, 0);
}


:hover.b2{
    transition: all 0.4s ease;
    transform: scale(1.05); 
    color: red; 
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(197, 1, 1), 0 0 20px rgb(151, 0, 0), 0 0 30px rgb(112, 0, 0);
}

:hover.b3{
    transition: all 0.4s ease;
    transform: scale(1.05); 
    color: red; 
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(197, 1, 1), 0 0 20px rgb(151, 0, 0), 0 0 30px rgb(112, 0, 0); 
}

:hover.b4{
    transition: all 0.4s ease;
    transform: scale(1.05); 
    color: red; 
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(197, 1, 1), 0 0 20px rgb(151, 0, 0), 0 0 30px rgb(112, 0, 0);
}

@font-face {
    font-family: "computer";
    src: url("./fontes/Minecraftia-Regular.ttf");
}

.imagem{
    display: flex;
    justify-content: center;
}

.centraliza{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.fundo1{
    background-image: radial-gradient(circle,rgb(139, 1, 1),rgb(83, 23, 23), rgb(61, 15, 15));
    border: solid rgb(0, 0, 0) 5px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
}
   

.texto{
    text-align: center;
    font-size: 45px;
    font-family: 'computer';;
}

.fundo2{
    background-image: radial-gradient(circle,rgb(139, 1, 1),rgb(83, 23, 23), rgb(61, 15, 15));
    border: solid rgb(0, 0, 0) 5px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 5%;
    
}

.texto2{
      text-align: center;
      font-size: 45px;
      font-family: 'computer';
}
